version: 2

updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: UTC
    labels:
      - dependencies
      - ruby

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: UTC
    labels:
      - dependencies
      - javascript

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: UTC
    labels:
      - dependencies
      - github-actions

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: UTC
    labels:
      - dependencies
      - docker

  - package-ecosystem: devcontainers
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: UTC
    labels:
      - dependencies
      - devcontainers
