/config/action_mailer.yml
/config/code_ocean.yml
/config/database.yml
/config/secrets.yml
/config/sendmail.yml
/config/smtp.yml
/config/docker.yml*.erb
/config/*.production.yml
/config/*.staging.yml
/config/*.staging-epic.yml
/config/deploy/staging-epic.rb
/coverage
/log
/public/assets
/public/uploads
/rubocop.html
/tmp
/vagrant/
/.capistrano
/.vagrant
*.sublime-*
/.idea
/.vagrant
*.iml
*.DS_Store
