/config/action_mailer.yml
/config/code_ocean.yml
/config/database.yml
/config/mnemosyne.yml
/config/secrets.yml
/config/docker.yml.erb
/config/content_security_policy.yml
/coverage
/log/*.*
/public/assets
/public/uploads
/rubocop.html
/tmp
/vagrant/
/.capistrano
/.vagrant
*.sublime-*
/.idea
/.vagrant
*.iml
*.DS_Store
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
