== t('mailers.user_mailer.got_new_comment.body',
        receiver_displayname: @receiver_displayname,
        link_to_comment: link_to(@rfc_link, @rfc_link),
        commenting_user_displayname: @commenting_user_displayname,
        comment_text: @comment_text,
        link_my_comments: link_to(t('request_for_comments.index.my_comment_requests'), my_request_for_comments_url),
        link_all_comments: link_to(t('request_for_comments.index.all'), request_for_comments_url) )
