== t('mailers.user_mailer.send_thank_you_note.body',
        receiver_displayname: @receiver_displayname,
        link_to_comment: link_to(@rfc_link, @rfc_link),
        author: @author,
        thank_you_note: @thank_you_note )
