<p id="notice"><%= notice %></p>

<p>
  <strong>Oauth2token:</strong>
  <%= @code_harbor_link.oauth2token %>
</p>

<%= link_to 'Edit', edit_code_harbor_link_path(@code_harbor_link) %> |
<%= link_to 'Back', code_harbor_links_path %>
