- if policy(object).edit?
  // default value for fetch will always be evaluated even if it is not returned
  - link_target = local_assigns.fetch(:path, false) || send(:"edit_#{object.class.name.underscore}_path", object)
  = link_to(t('shared.edit'), link_target, class: 'btn btn-secondary float-end')
