- if policy(model).new?
  a.btn.btn-success href=local_assigns.fetch(:path, send(:"new_#{model.model_name.singular}_path"))
    i.fa.fa-plus
    = t('shared.new_model', model: model.model_name.human)
