default: &default
  default_options:
    from: codeocean@hpi.de
  delivery_method: :smtp

development:
  <<: *default
  default_url_options:
    host: localhost
    port: 7000
  delivery_method: :test

production:
  <<: *default
  default_url_options:
    host: CHANGE_ME

test:
  <<: *default
  default_url_options:
    host: localhost
  delivery_method: :test
