default: &default
  flowr:
    enabled: false
    answers_per_query: 3
  code_pilot:
    enabled: false
  codeharbor:
    enabled: false
  codeocean_events:
    enabled: false
  runner_management:
    url: https://runners.example.org
    cleanup_interval: 60
    unused_runner_expiration_time: 180

development:
  flowr:
    enabled: true
    answers_per_query: 3
  code_pilot:
    enabled: false
    url: //localhost:3000
  codeharbor:
    enabled: true
    url: https://codeharbor.openhpi.de
  prometheus_exporter:
    enabled: false

production:
  <<: *default
  prometheus_exporter:
    enabled: true

test:
  <<: *default
  prometheus_exporter:
    enabled: false
