default: &default
  flowr:
    enabled: false
    answers_per_query: 3
  code_pilot:
    enabled: false
  codeocean_events:
    enabled: false

development:
  flowr:
    enabled: true
    answers_per_query: 3
  code_pilot:
    enabled: false
    url: //localhost:3000
  codeharbor:
    url: https://codeharbor.openhpi.de

production:
  <<: *default

test:
  <<: *default
