default: &default
  adapter: postgresql
  encoding: unicode
  pool: 16
  # username: CHANGE_ME
  # password: CHANGE_ME
  # host: localhost

development:
  <<: *default
  database: codeocean_development

production:
  <<: *default
  database: codeocean_production

test:
  <<: *default
  database: codeocean_test
