== t('.prolog')
== "\n\n"
== @spam_report.reported_message.lines.map { "> #{it}" }.join
== "\n\n"
== t('.take_action')
== "\n\n"
== request_for_comment_url(@spam_report.related_request_for_comment)
== "\n\n"
- if @spam_report.course_url.present?
  == t('.authentication')
  == "\n\n"
  == @spam_report.course_url
