h1 {
  font-size: 25px;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.lead {
  font-size: 16px;
  color: rgba(70, 70, 70, 1);
}

i.fa-solid, i.fa-regular, i.fa-solid {
  margin-right: 0.5em;
}

pre {
  background-color: #FAFAFA;
  margin: 0;
  padding: .25rem!important;
  border: 1px solid #CCCCCC;
}

span.caret {
  margin-left: 0.5em;
}

.btn {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  :not(.btn-lg) {
    font-size: 0.875rem;
  }
}

.progress {
  margin: 0;
  border: 1px solid #CCCCCC;
  padding: 0.125rem !important;
  height: 1.25rem !important;

  .progress-bar {
    line-height: initial;
    min-width: 2em;
    color: white;
  }
}

.navbar {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

.attribute-row + .attribute-row {
  margin-top: 0.5em;
}

.badge-pill {
  font-size: 100%;
  font-weight: 500;
}

.container[data-controller] {
  padding-bottom: 15px;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.empty {
  opacity: 0.5;
}

.flash {
  font-size: 100%;

  a, a:hover {
    color: white;
    font-weight: bold;
  }
}

.markdown {
  height: 200px;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.table-row-clickable {
  cursor: pointer;
}
