.editor {
  height: 100%;
  width: 100%;
}

.own-editor {
  height: 100%;
  width: 100%;
  .ace_scroller .ace_content {
    background: #FAFAFA;
  }
}

/* this class is used for the edit view of an exercise. It needs the height set, as it does not automatically resize */
.edit-frame {
  height: 400px;

  audio, img, video {
    max-width: 100%;
  }
}

#content-left-sidebar, #content-right-sidebar {
  min-height: 250px;
}

.frame {
  display: none;
  min-height: 300px;

  audio, img, video {
    max-width: 100%;
  }
}

.own-frame {
  display: none;
  min-height: 300px;

  audio, img, video {
    max-width: 100%;
  }
}

.score {
  vertical-align: bottom;
}

#dummy {
  display: none;
}

#editor-buttons {
  background-color: #008CBA;
  margin-top: 0;
  width: 100%;
  display: flex;

  button, .btn-group {
    flex-grow: 1;
  }

  .btn-group {
    button {
      width: 75%;
    }

    button.dropdown-toggle {
      width: 25%;
    }
  }
}

#files {
  overflow: auto;
}

#own-files {
  overflow: auto;
}

#output {
  white-space: pre;
  font-family: var(--bs-font-monospace);
  font-size: 14px;

  .output-element {
    overflow: auto;
  }
}

#results {
  display: none;
}

#statusbar{
  visibility: hidden;
  margin-top: .2em;
  height: 1.6em;
  color: #777;
  font-size: 0.8em;
}

#turtlecanvas{
  border-style:solid;
  border-width:thin;
  display: block;
  margin: auto;

}

.sidebar-col-collapsed {
  -webkit-transition: width .2s;
  transition: width .2s;
  width:67px;
  float:left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-col {
  -webkit-transition: width .2s;
  transition: width .2s;
  width:20%;
  float:left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.editor-col {
  min-height: 1px;
  width:auto;
  height:100%;
  overflow:hidden;
}

.output-col {
  -webkit-transition: width .2s;
  transition: width .2s;
  width:40%;
  float:right;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-left: auto;
}

.output-col-collapsed {
  -webkit-transition: width .2s;
  transition: width .2s;
  width:67px;
  float:right;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-left: auto;
}

.enforce-top-margin {
  margin-top: 5px !important;
}

.enforce-right-margin {
  margin-right: 10px !important;
}

.description-card-collapsed {
  height: 0px;
  visibility: hidden;
}

.description-card {
  height: auto;
  visibility: visible;
}

.enforce-big-bottom-margin {
  margin-bottom: 15px !important;
}

.enforce-bottom-margin {
  margin-bottom: 5px !important;
}

#error-hints {
  display: none;
  background-color: #FAFAFA;

  .heading {
    font-weight: bold;
    font-size: larger;
  }

  ul.body {

    li.hint {
      .description {
        font-style: italic;
      }

      .hint {}
    }
  }
}
