button i.fa-spin {
  display: none;
}

.editor {
  height: 100%;
  width: 100%;
}

.frame {
  display: none;
  height: 200px;
  width: auto;

  audio, img, video {
    max-width: 100%;
  }
}

.score {
  display: none;
}

#alert, #development-environment {
  display: none;
}

#dummy {
  display: none;
  width: 100% !important;
}

#editor-buttons {
  background-color: #008CBA;
  margin-top: 0;
  width: 100%;

  button {
    font-size: 80%;
  }

  button, .btn-group {
    width: 33.33333%;
  }

  .btn-group {
    button {
      width: 75%;
    }

    button.dropdown-toggle {
      width: 25%;
    }
  }
}

#files {
  overflow: auto;

}



#hint {
  display: none;
}

#outputInformation {
  #output {
    max-height: 500px;
    overflow: auto;
    margin: 2em 0;

    p {
      margin: 0.5em;
    }

    pre + pre {
      margin-top: 1em;
    }
  }
}

#results {
  display: none;
}

#autosave-label{
  visibility: hidden;
  height: 1.6em;
  text-align:  right;
  color: #777;
  font-size: 0.8em;
}

.requestCommentsButton {
  position: relative;
  margin-top: -50px;
  margin-right: 25px;
  float: right;
}
