code {
  background-color: var(--bs-light-bg-subtle) !important;
  max-height: 100px;
  overflow: scroll;
}

input[type='file'] {
  display: none;
}

#exercise_template_code {
  font-family: monospace;
}

.exercise {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(var(--bs-black-rgb), 0.2);
  padding: 1px 10px 1px 10px;
  margin: 3px 3px 10px 3px;

  a#toggle {
    margin-bottom: 5px;
    float: right;
  }

  a#toggle:before {
    content: "(";
  }

  a#toggle:after {
    content: ")";
  }

  h1#exercise-headline {
    margin: 10px 0 10px 0;
  }

  .lead.description-card-collapsed {
    margin: 0;
  }
}

[data-bs-toggle="collapse"] .fa-solid:first-child:before {
  content: "\f139";
}

[data-bs-toggle="collapse"].collapsed .fa-solid:first-child:before {
  content: "\f13a";
}

// Graph Settings

text.axis, {
  fill: var(--bs-body-color);
}

.axis path {
  fill: none;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: var(--bs-tertiary-color);
}

.y.axis path {
  display: none;
}

.line {
  fill: none;
  //stroke: orange;//steelblue;
  stroke-width: 2px;
}
.line2 {
  fill: none;
  //stroke: red;//steelblue;
  stroke-width: 3px;
}

div#chart_1 {
  background-color: var(--bs-light-bg-subtle);
}

div#chart_2 {
  background-color: var(--bs-light-bg-subtle);
}

div#chart_stacked {
  max-height: 500px;
  background-color: var(--bs-light-bg-subtle);
}

a.file-heading {
  color: var(--bs-body-color) !important;
  text-decoration: none;
}

.bar {
  fill: var(--bs-warning);
}

.bar:hover {
  fill: var(--bs-warning-border-subtle);
}

.container > form > .actions {
  margin-bottom: 200px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(var(--bs-black-rgb), 0.8);
  color: var(--bs-white);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: rgba(var(--bs-black-rgb), 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.feedback-page {
  .header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .value {
    border: 1px solid var(--bs-border-color-translucent);
    padding: 10px;
    margin-bottom: 10px;
  }

  .no-feedback {
    font-weight: bold;
    margin-top: 50px;
  }

  .feedback-header {
    display: flex;
    align-items: baseline;

    .username {
      flex-grow: 1;
      font-weight: bold;
    }

    .date {}
  }

  .feedback {
    .text {
      margin-bottom: 10px;
    }
    .difficulty {
      font-weight: bold;
    }
    .worktime {
      font-weight: bold;
    }
  }
}

#export-modal {
  .modal-content {
    min-height: 300px;
  }

  .modal-body {
    overflow: auto;
  }
}

#export-exercise{
  display: flex;
}

.export-message {
  flex-grow: 1;
  font-size: 12px;
  padding-right: 5px;
  word-wrap: break-word;
}
.export-message + :empty {
  max-width: 100%;
}

.export-exercise-actions:empty {
  display: none;
}

.export-exercise-actions {
  max-width: 110px;
  min-width: 110px;
}

.export-button {
  font-size: 12px;
  width: 100%;
}

.export-success {
  color: var(--bs-success);
  font-size: 12pt;
  font-weight: 600;
}

.export-failure {
  color: var(--bs-danger);
}
