.alternative-input {
  display: none;
}

.chosen-container {
  min-width: 250px !important;
  width: 100% !important;
}

.chosen-inline {
  .chosen-container {
    min-width: unset !important;
    width: unset !important;
  }
}

.code-field {
  font-family: monospace;
}

.filter-form {
  .row:not(:last-child) {
    margin-bottom: 1em;
  }

  input, select {
    min-width: 200px !important;
  }
}

.toggle-input {
  font-size: 80%;
}
