.rfc {

  h5 {
    color: #008CBA;
  }

  .text {
    font-size: larger;
  }

  .text.collapsed {
    max-height: 50px;
    overflow-y: hidden;
  }

  .collapse-button {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .description {

    .text {
      padding: 5px;
      background-color: #FAFAFA;
      border: 1px solid #CCCCCC;
    }

  }

  .question {

    .text {
      font-weight: bold;
      white-space: pre-wrap;
    }

  }

  .testruns {

    .text {
      padding: 5px;
      background-color: #FAFAFA;
      border: 1px solid #CCCCCC;
    }

    pre {
      background-color: inherit;
      border: none;
    }
  }

  .testrun-assess-results {

    .testrun-container {
      display: flex;
      margin-bottom: 10px;

      .testrun-output {
        overflow-x: auto;
        flex-grow: 1;
      }
    }

    .result {
      margin-right: 10px;
      margin-top: 20px;
      min-width: 10px;
      max-width: 10px;
      min-height: 10px;
      max-height: 10px;
    }

    .passed {
      border-radius: 50%;
      background-color: #8efa00;
      -webkit-box-shadow: 0 0 11px 1px rgba(44,222,0,1);
      -moz-box-shadow: 0 0 11px 1px rgba(44,222,0,1);
      box-shadow: 0 0 11px 1px rgba(44,222,0,1);
    }

    .unknown {
      border-radius: 50%;
      background-color: #ffca00;
      -webkit-box-shadow: 0 0 11px 1px rgb(255, 202, 0);
      -moz-box-shadow: 0 0 11px 1px rgb(255, 202, 0);
      box-shadow: 0 0 11px 1px rgb(255, 202, 0);
    }

    .failed {
      border-radius: 50%;
      background-color: #ff2600;
      -webkit-box-shadow: 0 0 11px 1px rgba(222,0,0,1);
      -moz-box-shadow: 0 0 11px 1px rgba(222,0,0,1);
      box-shadow: 0 0 11px 1px rgba(222,0,0,1);
    }

  }

  #mark-as-solved-button {
    margin-top: 20px;
  }

  #thank-you-container {
    display: none;
    margin-top: 20px;
    padding: 5px;
    border: solid lightgrey 1px;
    background-color: rgba(20, 180, 20, 0.2);
    border-radius: 4px;

    button {
      margin-right: 10px;
    }
  }

  #thank-you-note {
    width: 100%;
    height: 200px;
  }
}

#commentitor {
  margin-bottom: 2rem;
  height: 600px;
  background-color:#f9f9f9
}

:not(.allow_ace_tooltip) > .ace_tooltip {
  display: none !important;
}

.modal-content {
  min-height: 512px;
  min-width: 360px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;

  .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    pre {
      overflow: initial;
    }

    #otherComments {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .container {
        flex-grow: 1;
      }
    }
  }
}

.comment {
  width: 100%;
  min-width: 200px;

  .comment-header {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
    margin: auto;

    .comment-username {
      font-weight: bold;
      width: 60%;
      float: left;
    }

    .comment-date {
      text-align: right;
      color: #008cba;
      margin-left: 60%;
      font-size: x-small;
    }

    .comment-updated {
      text-align: right;
      margin-left: 60%;
      font-size: x-small;
    }
  }

  .comment-content {
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .comment-editor {
    display: none;
    width: 100%;
    height: auto;
    background-color: inherit;
  }

  .comment-actions {
    display: none;
  }
}

.comment-divider {
  width: 100%;
  height: 1px;
  background-color: #008cba;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

#otherComments {
  h5 {
    margin-top: 0;
  }

  .container {
    width: 100%;
    overflow-y: auto;
    border: 1px solid #cccccc;
    padding: 15px;

    .comment-removed {
      margin-top: 20px;
      margin-bottom: 20px;
      font-style: italic;
    }

    .comment-actions {
      display: flex;

      button {
        margin-right: 5px;
      }
    }
  }
}

input#subscribe {
  margin-top: 5px;
  margin-right: 5px;
}

#myComment {
  margin-top: 20px;
  margin-bottom: 10px;

  textarea {
    resize: none;
  }

  button {
    margin-top: 10px;
  }
}

.popover-footer {
  color: #008cba;
  margin-top: 10px;
}

.do-not-answer {
  background-color: #ea2f1085;
}

#q_submission_study_group_id_in_chosen {
  margin-right: 20px;
}
