.rfc {

  h5 {
    color: var(--bs-primary);
  }

  .text {
    font-size: larger;
  }

  .text.collapsed {
    max-height: 50px;
    overflow-y: hidden;
  }

  .collapse-button {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .description {

    .text {
      padding: 5px;
      background-color: var(--bs-light-bg-subtle);
      border: 1px solid var(--bs-border-color-translucent);
    }

  }

  .question {

    .text {
      font-weight: bold;
      white-space: pre-wrap;
    }

  }

  .testruns {

    .text {
      padding: 5px;
      background-color: var(--bs-light-bg-subtle);
      border: 1px solid var(--bs-border-color-translucent);
    }

    pre {
      background-color: inherit;
      border: none;
    }
  }

  .testrun-assess-results {

    .testrun-container {
      margin-bottom: 10px;

      .testrun-output {
        overflow-x: auto;
        flex-grow: 1;
      }
    }
  }

  #mark-as-solved-button {
    margin-top: 20px;
  }

  #thank-you-container {
    display: none;
    margin-top: 20px;
    padding: 5px;
    border: solid var(--bs-border-color-translucent) 1px;
    background-color: rgba(var(--bs-success-rgb),0.2);
    border-radius: 4px;

    button {
      margin-right: 10px;
    }
  }

  #thank-you-note {
    width: 100%;
    height: 200px;
  }
}

#commentitor {
  margin-bottom: 2rem;
  height: 600px;
}

html[data-bs-theme="light"] {
  #commentitor {
    background-color: var(--bs-secondary-border-subtle);
  }
}

:not(.allow_ace_tooltip) > .ace_tooltip {
  display: none !important;
}

.modal-content {
  min-height: 512px;
  min-width: 360px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;

  .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    pre {
      overflow: initial;
    }

    #otherComments {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .container {
        flex-grow: 1;
      }
    }
  }
}

.comment {
  width: 100%;
  min-width: 200px;

  .comment-header {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
    margin: auto;

    .comment-username {
      font-weight: bold;
      width: 60%;
      float: left;
    }

    .comment-date {
      text-align: right;
      color: var(--bs-primary);
      margin-left: 60%;
      font-size: x-small;
    }

    .comment-updated {
      text-align: right;
      margin-left: 60%;
      font-size: x-small;
    }
  }

  .comment-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .comment-editor {
    display: none;
    width: 100%;
    height: auto;
    background-color: inherit;
  }

  .comment-actions {
    display: none;
  }
}

.comment-divider {
  width: 100%;
  height: 1px;
  background-color: var(--bs-primary);
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

#otherComments {
  h5 {
    margin-top: 0;
  }

  .container {
    width: 100%;
    overflow-y: auto;
    border: 1px solid var(--bs-border-color-translucent);
    padding: 15px;

    .comment-removed {
      margin-top: 20px;
      margin-bottom: 20px;
      font-style: italic;
    }

    .comment-actions {
      display: flex;

      button {
        margin-right: 5px;
      }
    }
  }
}

input#subscribe {
  margin-top: 5px;
  margin-right: 5px;
}

#myComment {
  margin-top: 20px;
  margin-bottom: 10px;

  textarea {
    resize: none;
  }

  button {
    margin-top: 10px;
  }
}

.popover-footer {
  color: var(--bs-primary);
  margin-top: 10px;
}

#q_submission_study_group_id_in_chosen {
  margin-right: 20px;
}
