#commentitor {
    margin-top: 2rem;
    height: 600px;
    background-color:#f9f9f9
}

#thank-you-container {
  display: none;
  margin-top: 20px;
  padding: 5px;
  border: solid lightgrey 1px;
  background-color: rgba(20, 180, 20, 0.2);
  border-radius: 4px;
}

#thank-you-note {
  width: 100%;
  height: 200px;
}

.ace_tooltip {
  display: none !important;
}

.popover-username {
  font-weight: bold;
}

.popover-comment {
  word-wrap: break-word;
}

.popover-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.popover-date {
  color: #008cba;
}

.popover-updated {
  font-style: italic;
}

.popover-divider {
  width: 100%;
  height: 1px;
  background-color: #008cba;
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: 10px;
}
