#submissions-slider {
    margin-top: 25px;
    margin-bottom: 25px;
}

#current-file.editor {
    height: 400px;
}

.clickable {
    cursor: pointer;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-grow: 1;
}

#play-button {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

div.unit-test-result {
  float: left;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

div.positive-result {
  border-radius: 50%;
  background-color: #8efa00;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(44,222,0,1);
  -moz-box-shadow: 0px 0px 11px 1px rgba(44,222,0,1);
  box-shadow: 0px 0px 11px 1px rgba(44,222,0,1);
}

div.unknown-result {
  border-radius: 50%;
  background-color: #ffca00;
  -webkit-box-shadow: 0px 0px 11px 1px rgb(255, 202, 0);
  -moz-box-shadow: 0px 0px 11px 1px rgb(255, 202, 0);
  box-shadow: 0px 0px 11px 1px rgb(255, 202, 0);
}

div.negative-result {
  border-radius: 50%;
  background-color: #ff2600;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(222,0,0,1);
  -moz-box-shadow: 0px 0px 11px 1px rgba(222,0,0,1);
  box-shadow: 0px 0px 11px 1px rgba(222,0,0,1);
}

tr.active {
  filter: brightness(85%);
  color: #000000;
}

tr:not(.before_deadline,.within_grace_period,.after_late_deadline) {
  background-color: #ffffff;
}

tr.highlight {
  border-top: 2px solid rgba(222,0,0,1);
}

.before_deadline {
  background-color: #DAF7A6;
}

.within_grace_period {
  background-color: #F7DC6F;
}

.after_late_deadline {
  background-color: #EC7063;
}

/////////////////////////////////////////////////////////////////////////////////////////////
// StatisticsController:

#statistics-container {
  margin-bottom: 40px;
}

.statistics-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;

  > a {
    color: #fff !important;
    text-decoration: none !important;

    > div {
      border: 2px solid #0055ba;
      border-radius: 5px;
      background-color: #008cba;
      padding: 1em;
      display: flex;
      flex-flow: column-reverse;
      text-align: center;

      > .data {
        flex-grow: 1;
        font-size: 40px;
        vertical-align: middle;
        line-height: 50px;

        > .unit {
          font-size: 20px;
        }
      }

      > .title {
        height: 42px;
      }
    }
  }
}

.group {
  .title {
    display: flex;
    align-items: baseline;

    h1 {
      flex-grow: 1;
    }

    h2 {
      font-size: medium;
    }
  }
}
