h5 =t('exercises.implement.comment.addComment')
textarea#commentOnExercise.form-control(style='resize:none;')

p=''
button#addCommentExerciseButton.btn.btn-block.btn-primary(type='button') =t('exercises.implement.comment.addCommentButton')
