h5 =t('exercises.implement.comment.addyours')

textarea.form-control(style='resize:none;')
#otherComments
  h5 =t('exercises.implement.comment.others')
  pre#otherCommentsTextfield
p = ''
button#addCommentButton.btn.btn-block.btn-primary(type='button') =t('exercises.implement.comment.addComment')
button#removeAllButton.btn.btn-block.btn-warning(type='button') =t('exercises.implement.comment.removeAllOnLine')