button.btn class=local_assigns.fetch(:classes, 'btn-primary') *local_assigns.fetch(:data, {}) id=id title=local_assigns[:title] type='button'
  i.fa.fa-circle-o-notch.fa-spin
  i class=icon
  = label
