h5 = t('exercises.implement.comment.question')
textarea.form-control#question(style='resize:none;')
p = ''
button#askForCommentsButton.btn.btn-block.btn-primary(type='button') =t('exercises.implement.comment.request')