h5#rfc_intervention_text style='display: none;' = t('exercises.implement.rfc_intervention.text')
h5 = t('exercises.implement.comment.question')


textarea.form-control#question(style='resize:none;')
p = ''
/ data-cause='requestComments' is not used here right now, we pass the button #requestComments (not askForCommentsButton) as initiator of the action. 
/ But if we use this button, it will work since the correct cause is supplied
div
  button#askForCommentsButton.btn.btn-block.btn-primary(type='button' data-cause='requestComments' data-message-success=t('exercises.editor.request_for_comments_sent')) =t('exercises.implement.comment.request')
  button#closeAskForCommentsButton.btn.btn-block.btn-warning(type='button') =t('activerecord.attributes.request_for_comments.close')
